@model QuanLyBanHang.Models.LoaiSP

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Chi tiết loại sản phẩm</h2>

<div>
    <h4>Loại sản phẩm</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên loại sản phẩm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenLoaiSP)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.MaLoaiSP }) |
    @Html.ActionLink("Trở về danh sách mã loại sản phẩm", "Index")
</p>
