@model QuanLyBanHang.Models.KhachHang

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="~/Content/css/style-user.css" rel="stylesheet" />
    <link href="~/Content/css/style-1.css" rel="stylesheet" />

</head>
<body>
    
    <!-- ---- -->
    <div class="container-fluid">
        <div class="container sign-up banner">

            <div class="form-row text-center">
                <div class="col-6 sign">
                    <a class="btn" href="">ĐĂNG NHẬP</a>
                </div>
                <div class="col-6  sign">
                    <a class="btn" href="@Url.Action("SignUp", "Login", new { })">ĐĂNG KÍ</a>
                </div>
                <div class="mt-4 form-group col-12">
                    @using (Html.BeginForm("SignIn", "Login", FormMethod.Post))
                    {
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.Email, "", new { @class = "form-control", @placeholder = "Email hoặc tên đăng nhập" })

                        </div>
                        <div class="form-group">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                            <label class="field-validation-error" style="color:red;">@Html.DisplayFor(model => model.LoginErrorMessage)</label>
                        </div>
                        <div class="form-group">
                            <input type="submit" name="submit" style="width:150px;" class="btn btn-primary" value="Login" />
                            
                        </div>
                    }
                    @*<input class="email" id="name" type="text" placeholder="Nhập email hoặc tên đăng nhập">
                        <input class="email mt-3" id="password" type="password" placeholder="Mật Khẩu">
                        <span class="require-login text-danger">* Tên đăng nhập hoặc mật khẩu không được để trống</span>

                        <a class="btn btn-outline-danger signup mt-3" onclick="checksignup()">ĐĂNG NHẬP</a>*@

                    <a class="mt-3 d-block btn" href="#">QUÊN MẬT KHẨU</a>
                    <div>Hoặc đăng nhập với</div>
                    <div class="row">
                        <div class="col-6">
                            <button class="btn fb">Đăng nhập facebook</button>
                        </div>
                        <div class="col-6">
                            <button class="btn fb">Đăng nhập goole</button>

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <!-- --- -->
</body>
</html>




