
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html lang="en">

<head>
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/responsive.css" rel="stylesheet" />
    <link href="~/Content/css/ui.css" rel="stylesheet" />
</head>

<body>
    <div class="wrapper" style="margin-top:100px;">
        
    </div>
    
    <div class="alert alert-success mt-3" style="width:90%;margin-left:70px;">
        <p class="icontext"><i class="icon text-success fa fa-truck"></i>Đặt hàng thành công</h2>
        </p>
        
    </div>
    <p style="margin-left:70px;font-size:20px;color:blue;"><a href=@Url.Action("Index", "Home") style="text-decoration:none">Tiếp tục mua hàng</a></p>

</body>

</html>

